In [5]:
import numpy as np
import pandas as pd

In [6]:
d = {'name':['A','B','C','D','E','F','G','H','I','J'],'Age':[19,22,np.nan,18,19,20,21,22,23,20],"Gender": ['M','F','M','M','F','M','F','M','M','F'],"Salary": [20000,30000,23000,24000,25000,30000,25000,40000,50000,55000],"EID":['E1','E2','E3','E4','E5','E6','E7','E8','E9','E10']}
d

{'name': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'],
 'Age': [19, 22, nan, 18, 19, 20, 21, 22, 23, 20],
 'Gender': ['M', 'F', 'M', 'M', 'F', 'M', 'F', 'M', 'M', 'F'],
 'Salary': [20000,
  30000,
  23000,
  24000,
  25000,
  30000,
  25000,
  40000,
  50000,
  55000],
 'EID': ['E1', 'E2', 'E3', 'E4', 'E5', 'E6', 'E7', 'E8', 'E9', 'E10']}

In [9]:
df=pd.DataFrame(d)

In [10]:
df

  name   Age Gender  Salary  EID
0    A  19.0      M   20000   E1
1    B  22.0      F   30000   E2
2    C   NaN      M   23000   E3
3    D  18.0      M   24000   E4
4    E  19.0      F   25000   E5
5    F  20.0      M   30000   E6
6    G  21.0      F   25000   E7
7    H  22.0      M   40000   E8
8    I  23.0      M   50000   E9
9    J  20.0      F   55000  E10

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    10 non-null     object
 1   Age     9 non-null      float64
 2   Gender  10 non-null     object
 3   Salary  10 non-null     int64
 4   EID     10 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 528.0+ bytes

In [13]:
df.describe()

             Age        Salary
count   9.000000     10.000000
mean   20.444444  32200.000000
std     1.666667  12072.006185
min    18.000000  20000.000000
25%    19.000000  24250.000000
50%    20.000000  27500.000000
75%    22.000000  37500.000000
max    23.000000  55000.000000

In [14]:
df.loc[4]

name          E
Age        19.0
Gender        F
Salary    25000
EID          E5
Name: 4, dtype: object

In [15]:
df.isnull().any()

name      False
Age        True
Gender    False
Salary    False
EID       False
dtype: bool

In [16]:
df.isnull().sum()

name      0
Age       1
Gender    0
Salary    0
EID       0
dtype: int64